a p{
    background-color: blueviolet;
    width: 10%;
    padding: 15px 0;
    text-align: center;                                                                    
    color: white;
    font-weight: bold;
    border-style: groove;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    margin: 15px auto;
}
a p:hover{
    background-color: crimson;
    transform: scale(1.2);
    transform: rotate(45deg);
}
body{
    text-align: center;
}